.nav-wrap {

	width: 100%;
	position: fixed;
	z-index: 900;
	top: 0;


	.nav-bar {
		width: 100%;
    	height: 65px;
    	display: none;
    	background-color: $blue_text;


    	ul {
    		display: flex;
			padding: 0;
    		margin: 0 auto;
    		list-style-type: none;
    		background-color: $blue_text;
    		justify-content: space-evenly;
    		width: 70%;
    		height: 100%;

    		@include break(0, 299px) {
    			height: 160px;
    			width: 100%;
    			display: block;
    			text-align: center;
    			padding-top: 25px;
    		}

    		@include break(300px, 543px) {
    			height: 220px;
    			width: 100%;
    			display: block;
    			text-align: center;
    			padding-top: 30px;
    		}

    		@include break(500px, 544px) {
    			height: 270px;
    			width: 100%;
    			display: block;
    			text-align: center;
    			padding-top: 25px;	
    		}
  
			@include break(544px, 650px) {
				height: 280px;
    			width: 100%;
    			display: block;
    			text-align: center;
    			padding-top: 25px;
    		}


    		@include break(621px, 920px) {
    			width: 100%;
    		}

    		li {

    			padding: 2% 0;

    			@include break(0, 650px) {
					padding: 1%;
    			}

				a {
				 	color: white;
				 	font-size: 1em;
				 	text-decoration: none;

				 		@include break(0, 1150px) {
				 			font-size: .8em;
				 		}
	
						&:hover {
							text-decoration: underline;
	
						&:active {
							text-decoration: underline;
						}
					}
				}
    		}
    	}
	}


	.bar-wrap {

		position: absolute;
	 	right: 20px;
		margin-top: 2%;
    	display: inline-block;
    	cursor: pointer;
    	height: 60px;
    	width: 60px;
    	border-radius: 100%;
    	background-color: $blue_text;
		
		@include break(0, 650px){
    		top: 6px; 
    		border: 2px solid #646986;
    	}

    	.bar-wrap-center {

    		margin: 0 auto;
    		width: 100%;
    		position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translateX(-50%) translateY(-50%);
    	}
		
		.bar1, .bar2 {
   			width: 30px;
    		height: 3px;
    		background-color: $white;
    		border-radius: 15px;
    		margin: 10px auto;
		}

		&.open {
			.bar1 {
				transform: rotate(45deg) translate(5px, 5px) ;
			}

			.bar2 {
				transform: rotate(-45deg) translate(4px, -4px) ;
			}
		}
	}
}