@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

//colors
$background: #d9fcff;
$blue_text: #003575;
$drops: #b2e7ed;
$pink: #FF9886;
$green_circle: #56DD6F;
$blue: #19D5EA;
$white: #FFF;
$orangepink_heading: #FF7D67;
$green_heading: #39D856;
$blue_heading: #04CDE3;

// fonts
$headings: Roboto, sans-serif;
$text: Roboto, sans-serif; 


